[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "argoFloats"]
	path = argoFloats
	url = https://github.com/argocanada/argofloats
